*{
    margin: 0px;
    padding: 0px;
}
/*
.contenedor{

    width: 900px;
    height: 400px;
    border: 30px;
    background-color: rgb(26, 29, 29); 
    padding: 50px 0px;

    display: flex;
    flex-direction:row;
    /*
    flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: column-reverse;

 /*flex-wrap: wrap;*/
 /*flex-wrap: nowrap; */
 /*justify-content: flex-start;*/
 /*justify-content: center;*/
 /*justify-content: space-around; */
 /*justify-content: space-between;*/
/*align-items: flex-start;
/*align-items: flex-end;*/
/*align-items: stretch;*/
/*align-items: center;*/


/*}
/*
.cajita{
    width: 100px;
    /*height: 80px;*/
/*    border: 30px;
    background-color: brown;
    margin: 15px;
    font-size: 25px;
    color: white; 
    
}
*/
.padre{
    width: 900px;
    height: 400px;
    border: 30px;
    background-color: rgb(26, 29, 29); 
    padding: 50px 0px;
    display: flex;
    flex-direction:row;

}

.encabezado{
    width: 800px;
    height: 80px;
    border: 30px;
    background-color: brown;
    margin: 15px;
    font-size: 25px;
    color: white; 
}

.cuerpo{
    width: 800px;
    height: 80px;
    border: 30px;
    background-color: brown;
    margin: 15px;
    font-size: 25px;
    color: white; 
}

.pie{
    width: 800px;
    height: 80px;
     border: 30px;
    background-color: brown;
    margin: 15px;
    font-size: 25px;
    color: white; 
}
